body{
    margin: 0;
    font-family: 'helvetica', 'Arial', sans-serif;

}

header{
    background-color: gold;
    text-align: center;
    padding-top: 50px;
    padding-botton: 50px;
}

h1, h2{
    font-family: 'Comic Neue', cursive;
}
header h1{
    color: black;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid black;
}